body{
    background-color:rgb(255, 255, 40);
}
nav{
    background-color:rgb(139, 252, 70);
    
    text-align: center;
}
li{
    display: inline;
}
a{
    padding:40px;
    color:white;
}