body{
    background-color:rgb(245, 115, 167);
}
nav{
    background-color:rgb(25, 24, 24);
    
    text-align: center;
}
li{
    display: inline;
}
a{
    padding:40px;
    color:rgb(243, 243, 243);
}