body{
    background-color:rgb(67, 186, 233);
}
nav{
    background-color: rgb(249, 181, 219);
    
    text-align: center;
}
li{
    display: inline;
}
a{
    padding:40px;
    color:black;
}